@import './../../global.scss';

.skills{
    background-color: rgb(247, 242, 242);
    h1{
        font-size: 50px;
        font-weight: 600;
        margin: 10px;
        @include mobile{
            font-size: 35px;
            text-align: center;
        }
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include mobile{
            flex-direction: column;
        }
        .item{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 10px;
            width: 250px;
            height: 250px;
            margin: 10px;
            cursor: pointer;
            @include mobile{
                border-radius: 10px;
                width: 200px;
                height: 200px;
            }
            &:hover{
                transform: scale(1.05);
            }
            p{
                font-size: 20px;
                font-weight: 500;
                margin: 10px;
            }
            img{
                width: 180px;
                height: 150px;
                @include mobile{
                    width: 100px;
                    height: 70px;
                }
            }
        }
    }
}