

.footer{
    background-color: black;
    color: white;
    position: fixed;
    height: 70px;
    display: flex;
    width: 100%;
    visibility: hidden;
    p{
        margin: 5px;
        padding: 20px 0px;
    }
}